/* General Reset */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    padding: .5rem 2%;
    background-color: #fa9201;
    color: white;
    text-align: center;
}

header h1 {margin: 0;}

/* Form container */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.wform {
    background-color: #fdd7b2;
    padding: 20px;
    max-width: 450px;
    border-radius: 5px;
}

/* Fieldsets */
fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0;
}

label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
}

label span {
    font-weight: normal;
    font-size: 0.9em;
    color: #093b7c;
}

/* Dropdown styling */
input[type="date"],
input[type="text"],
textarea,
select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: .7em;
    box-sizing: border-box;
    display: block; 
    height: 44px;
}

.rating {
    display: flex;
    gap: 18px;
    margin-top: -6px;
}

.rating label {
    display: flex;
    flex-direction: column;
    align-items: center;         
    margin-top: 5px;
    word-spacing: -5px;
}

.rating input[type="radio"] {
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.feature-question > label {
    font-weight: normal;
    font-size: .8em;
}

/* Checkboxes */
fieldset div {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 1em;
}

input[type="checkbox"] {
    margin-right: 5px;
    transform:scale(1.5)
    
}

/* Textarea */
textarea {
    height: 80px;
    resize: none;
}

/* Submit button */
#submit-btn {
    border:2px solid rgb(119, 116, 116);
    background-image: linear-gradient(#faf8f8, #ece8e7);
    width: 100%;
    background-color: #e0e0e0;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    max-width: 400px;
}

/* Footer */
footer {
    background-color: #fa9201;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}

footer p {
    text-align: center; 
    color: var(--font-color);
}

#lastModified {
    display: block;
  font-size: small;
  color: rgb(1, 1, 0);
} 
