table {
    border-collapse: collapse;
    width: 450px;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}


caption {
    margin: 10px 0;
    caption-side: bottom;
}

.dark {
    background-color: #000;
    color: white;
    border: none;
}

thead th {
    padding: 15px 10px;
    font-size: 1.3rem;
}

.gray {
    background-color: #3f3e3e;
    color: white;
    border: none;
}