/* Base Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #00060f;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

section {
    margin: 2rem 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #00060f;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

#black-text {
    color: #000000;
    font-weight: bold;
}

.color-usage {
    margin-left: 1rem;
    font-size: 0.9rem;
    color: #000;
    line-height: normal;
    margin-top: -20px;
    margin-left: 3rem;
}

.wireframes {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  place-items: center;
}

.desktop, .mobile {
    text-align: center;
}

.frame-heading {
    display: block;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.desktop img {
    width: 100%;
    height: 750px;
    padding: 15px;
}

.mobile img {
    width: auto;
    height: 740px;
    padding: 15px;
} 



 .mobile {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Color Schema Representation */
.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.color-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 8px;
}

/* Wireframe Display */
.wireframe img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #00060f;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 8px;
}
