
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    color: #333;
}

.temple-card {
    background: #fff;
    border: 1px solid #d4cfcf;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
  }
  .temple-card img {
    align-items: center;
    height: auto;
    display: absolute;
    border-radius: 8px;
    margin-top: 20px;
    width: 350px;
    height: 250px;
    padding: 15px;
  }
  .temple-card h3 {
    margin: 16px 0 8px;
  }
  .temple-card p {
    margin: 4px 16px;
    color: #555;
  }

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    color: #444;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d3455;; 
    color: white;
    padding: 15px 20px;
    position: relative;
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-align: left; 
}

.hamburger {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    z-index: 10;
}


nav {
    display: block; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; 
    background-color:#0d3455;; 
    position: relative;
    justify-content: flex-end;
}


nav ul li a:hover {
    background-color: #666;
    border-radius: 10px;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#temples {
    display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;
      padding: 16px;
      max-width: 1200px;
}


footer {
    background-color: #0d3455; 
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}


@media (max-width: 767px) {

    .hamburger {
        display: block; 
        position: absolute; 
        top: 15px; 
        right: 20px; 
        font-size: 30px;
        cursor: pointer;
        z-index: 10;
    }

    nav {
        display:none;
    }

    
    nav ul {
        display: flex; 
        flex-direction: column;
        background-color: #0d3455;
        width: 100%;
        position: absolute;
        top: 60px; 
        right: 0;
        z-index: 5;
        justify-content: center; 
        align-items: center;      
    }

}
