main,
header,
footer {
  margin: 0 auto;
}

header {
  display: block;
  gap: 1rem;
  background-color: #282828;
  padding: 1rem;
}

.main-header {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Mona sans";
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  margin: 0 auto;
  list-style: none;
  display: none;
}

.navigation a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto";
}

.navigation a:hover {
  text-decoration: underline 2px;
  text-decoration-color: #ef6618;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}

.active {
  color: #ffff00;
}

#menu {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: 4%;
  right: 3%;
}

#menu::before {
  content: "≡";
}

.open li {
  display: block;
}

#menu.open::before {
  content: "×";
}

main {
  max-width: 90vw;
  margin: 0 auto;
}


#temples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  grid-gap: 2rem;
}


.temple-card {
    background: #fff;
    border: 1px solid #d4cfcf;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
  }
  .temple-card img {
    align-items: center;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    width: 350px;
    height: 250px;
    padding: 15px;
  }
  .temple-card h3 {
    margin: 16px 0 8px;
  }
  .temple-card p {
    margin: 4px 16px;
    color: #555;
  }

  h1, h2, h3 {
    font-family: 'Mona Sans', sans-serif;
    margin: 0;
    padding: 20px;
    color: #444;
}

h1 {
    margin-left: 5rem;
    color: white;
}


footer {
  margin-top: 3rem;
  background-color: #282828;
  padding: 0.4rem;
}

footer p {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

#lastModified {
  font-size: 1rem;
  margin-top: -0.7rem;
}
