body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1 {
    background-color: rgb(54, 52, 52);
    padding: 2rem;
    color: white;
    text-align: left;
}

nav  {
    background-color: black;
    padding: 1rem;
    margin-top: -25px;
    display: flex;
    justify-content: space-around;
    
}

nav a {
    color: white;
    text-decoration: none
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
}

.main {
    background-color: rgb(227, 221, 221) ;
    padding: 15px;
}

aside {
    padding: 15px;
}

footer {
    height: 130px;
    padding: 15px;
    background-color: rgb(54, 52, 52) ;
    color: white;
    text-align: center;
    

}