:root {
  --primary-color: #0072c6;
  --secondary-color: #1eb53a;
  --header-font: Montserrat;
  --body-font: Roboto;
}

* {
  font-family: var(--body-font);
}

body {
  height: 100vh;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
}

h1,
h2 {
  font-family: var(--header-font);
  text-align: center;
}

.hero-image img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 10px solid var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
}

#country-info,
#weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#country-info div,
#weather-info div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

strong {
  text-align: right;
}

.weather-icon {
  margin-bottom: 1rem;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: white;
  font-size: 1.1rem;
}

#lastModified {
  font-size: 0.8rem;
}

@media screen and (min-width: 48rem) {
  #country-info {
    position: absolute;
    left: 1.5rem;
    top: 17%;
    background-color: aliceblue;
    padding: 0 1.5rem;
  }

  #country-info h2 {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    width: 100%;
    margin-left: -3rem;
    color: white;
    text-align: left;
  }

  #weather-info {
    position: absolute;
    right: 2%;
    top: 60%;
    background-color: white;
    padding: 0 1rem;
  }

  #weather-info h2 {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    width: 100%;
    margin-left: -2rem;
    color: white;
    text-align: left;
    box-sizing: border-box;
  }

  #weather-info h2::after {
    content: url(../images/1530390_weather_clouds_cloudy_rain_sunny_icon.svg);
  }

  .weather-icon {
    display: none;
  }

  footer {
    margin-top: 0;
  }
}
