@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content:space-between;

    }

    nav {
        justify-self: flex-end;
        align-self: center;
    }

    .navigation {
        display: flex;
         align-items: center;
    }

    .main-header {
        justify-self: flex-start;
        font-size: 2.5rem;
        align-self:baseline;
    }

    .navigation li {
     display: block;
     flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
}