
@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0d3455;
        color: white;
        padding: 15px 20px;
    }

    header h1 {
        font-size: 24px;
        margin: 0;
        text-align: left;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .hamburger {
        display: none;
    }

    nav ul {
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }

    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        display: block;
        text-align: center;
        transition: background-color 0.3s;
    }

    nav ul li a:hover {
        background-color: #666;
    }

    main {
        max-width: 1000px;
    }

    #images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    figure img {
        border-radius: 12px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
    }


    footer {
        background-color: #0d3455;;
        color: white;
        padding: 20px;
        text-align: center;
    }

    footer p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    #images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    main {
        max-width: 1000px;
    }

    figure img {
        border-radius: 12px;
    }

    footer p {
        font-size: 16px;
    }
}
