body {
    font-family: Roboto, sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid grey;
    padding: 1rem;
    background-color: rgb(183, 229, 235);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}