@media screen and (min-width: 500px) {
    #header-one {
        background-color: black;
        color: white;
    }
    
    main {
        grid-template: auto / 1fr 1fr;
    }

    .scripture1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .scripture2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}